.flashcard {
  margin-bottom: 30px;
}

.flashcard .card {
  height: 20em;
  width: 20em;
  background-color: yellow;
}

.flashcard .card:last-child {
  display: none;
}

.card-title {
  margin-top: 40%;
  margin-bottom: 40%; 
}
